body{
    background-color: gainsboro;
}

.container{
    margin: 1rem;
}

.title{
    padding: "10px 20px";
    text-align: center;
    color: "black"
}

.formulario{
    padding: 1em;
    display: flex;
    justify-content: center;
}

.formulario button{
    margin-left: 1em;
}